:export {
    chart01: #177692;
    chart02: #db6a06;
    chart03: #96bdac;
    chart04: #9c4151;
    chart05: #0095a2;
    chart06: #da4752;
    chart07: #394b40;
    chart08: #f9f871;
    chart10: #00b4a2;
    chart11: #b3457c;
    chart12: #9cb0a4;
    chart13: #8875ac;
    chart14: #2f4858;
    chart15: #5ccf94;
    chart16: #78508b;
    chart17: #0077ab;
    chart18: #ee5798;
    chart19: #98afba;
    chart20: #a7e77f;
    chart21: #42517a;
    chart22: #19abe3;
}
