@import "toastr";
$color-grey: #eee;
$color-dark-grey: lightgrey;
$color-white: #fff;

body {
    margin: 0;
    height: 100vh;
    background-color: $color-grey;
}

div {
    &[id="root"] {
        position: relative;

        .header {
            width: 100%;
            height: 5rem;
            position: fixed;
            img {
                width: 7rem;
            }
            background-color: white;

            nav {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                &[data-baseweb="header-navigation"] {
                    border: 0;
                    padding-right: 12px;
                }
            }
        }

        .side-navigation {
            display: flex;

            flex-direction: column;

            position: fixed;

            width: 5rem;

            z-index: 100;

            bottom: 0;

            top: 4rem;

            .filler {
                background: white;
                flex-grow: 1;
            }

            .navigation-item {
                padding: 1rem;
                background: white;

                &.active {
                    color: blue;
                    a {
                        color: blue;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                }

                span {
                    cursor: pointer;
                }
            }

            .nested-navigation {
                overflow-y: auto;
                min-width: 10rem;
                background-color: white;
                height: 100%;
                position: absolute;
                top: 0;
                left: -5rem;
                transition: 1s;
                z-index: -1;

                .navigation-item {
                    height: auto;
                    padding: 1rem;
                    position: relative;
                    z-index: -1;
                    cursor: pointer;
                    display: block;

                    &.active {
                        a {
                            color: blue;
                        }
                    }

                    &.group-name {
                        background-color: lightblue;
                    }
                }

                &.open {
                    background-color: white;
                    position: absolute;
                    top: 0;
                    left: 5rem;
                    height: 100%;
                    transition: 1s;
                    z-index: -1;
                }

                .bottom {
                    margin: 0.5rem;
                    position: relative;
                    right: 0;
                    bottom: 0;
                }
            }
        }

        .content {
            flex: 1;
            padding: 2rem;
            background-color: $color-grey;
            margin-left: 5rem;
            padding-top: 7rem;

            .content-wrapper {
                background-color: $color-white;
                padding: 1rem;
            }
        }
    }
}

div {
    &[data-baseweb="table-custom"] {
        overflow-x: unset;

        div {
            &[role="columnheader"] {
                display: flex;
                align-items: center;
            }
        }
    }
}

.accordion {
    .subtitle {
        margin-bottom: 8px;
        margin-top: 8px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-top: 0px;
        display: block;
        color: rgb(0, 0, 0);
        line-height: 20px;
        font-size: 14px;
        margin-right: 0px;
        margin-left: 0px;
        font-weight: 500;
        font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .caption {
        color: rgb(102, 102, 102);
        font-size: 12px;
        margin-bottom: 8px;
        margin-top: 8px;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        padding-top: 0px;
        line-height: 20px;
        margin-right: 0px;
        margin-left: 0px;
        font-weight: normal;
        font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;

        &.error {
            color: rgb(229, 73, 55);
        }
    }

    &.error {
        ul {
            li {
                border: rgb(244, 175, 167) solid;
                border-width: 2px;
                background-color: rgb(253, 240, 239);
            }
        }
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: $color-white;

    .login-form {
        width: 25%;
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
            padding-bottom: 2rem;
        }

        .form-wrapper {
            width: 100%;
        }
    }
}

.form-wrapper {
    position: relative;
    border: 1px solid $color-dark-grey;
    border-radius: 5px;
    padding: 1.5rem;
    margin: 1rem 0;

    .form-wrapper-title {
        padding: 5px;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: -15px;
        left: 10px;
    }
}

.pagination-footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    div {
        &[data-baseweb="select"] {
            width: 4.5rem;
        }
    }

    .pagination-label {
        margin-right: auto;
        align-self: center;
        margin-left: 1rem;
    }
}

.filter-content {
    padding: 1rem;
}

.filter-button {
    cursor: pointer;
}

.modal-content {
    min-width: 500px;
    padding: 1rem;
    min-height: 300px;
}

input {
    &[disabled=""] {
        cursor: default;
    }
}

button {
    &[disabled=""] {
        cursor: default !important;
    }
}

label {
    &[data-baseweb="checkbox"] {
        display: flex;
        flex-direction: row-reverse;
    }
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.one-row {
    display: flex;
    flex-direction: row;
}

div {
    &[data-baseweb="popover"] {
        z-index: 100;
    }
}

.left-margin {
    & + & {
        margin-left: 10px;
    }
}

.half {
    width: 49%;
}

.mb {
    margin-bottom: 10px;
}

ul {
    &[data-baseweb="accordion"] {
        li {
            :first-child {
                &:hover {
                    color: initial;
                }
            }
        }
    }
}
