@import "toastr";

@import "variables";

html {
    background-color: $oop-grey;
}

body {
    color: $oop-dark-blue;
    font-family: $body-font-family;
    font-size: 12px;
    font-weight: normal;
    height: 100vh;
    margin: 0;
    background-color: $color-grey;
}

a {
    color: $color-black;
    text-decoration: none;

    &:hover {
        color: $oop-teal;
    }

    a:active,
    a:visited {
        color: inherit;
    }
}

.title {
    margin-bottom: 1rem;
}

@import "general";
@import "layouts/loading-overlay";
@import "layouts/header";
@import "layouts/side-navigation";
@import "layouts/login";
@import "layouts/accordion";
@import "layouts/site-selector";
@import "layouts/device_temprs";
@import "layouts/device_dashboard";
@import "layouts/table";
@import "layouts/dashboard";
