body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
}

div {
    &[id="root"] {
        display: flex;
        flex-direction: row;

        .left-side {
            width: 7rem;

            .side-navigation {
                img {
                    width: 7rem;
                }
            }
        }

        .right-side {
            height: 100vh;
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            .header {
                height: 4rem;

                nav {
                    &[data-baseweb="header-navigation"] {
                        border: 0;
                        justify-content: flex-end;
                        padding-right: 12px;
                    }
                }
            }

            .content {
                padding: 2rem;
                overflow: auto;
                flex-grow: 1;
            }
        }
    }
}

div {
    &[data-baseweb="table-custom"] {
        overflow: unset;
    }
}

.login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .login-form {
        width: 25%;
        padding-bottom: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        img {
            width: 75%;
            padding-bottom: 2rem;
        }

        .form-wrapper {
            width: 100%;
        }
    }
}

.form-wrapper {
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 1.5rem;

    .form-wrapper-title {
        padding: 5px;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: -15px;
        left: 10px;
    }
}
