div {
    &[role="grid"] {
        overflow: auto;
    }
    &[role="rowgroup"] {
        min-width: 770px;
    }
    &[role="row"] {
        min-width: 750px;
        &:nth-child(even) {
            background-color: $oop-light-grey;
        }
        &:nth-child(odd) {
            background-color: $oop-lighter-grey;
        }
    }

    &[role="columnheader"] {
        background-color: $color-white;
    }
}
