div {
    &[role="row"] {
        &:nth-child(even) {
            background-color: $oop-light-grey;
        }
        &:nth-child(odd) {
            background-color: $oop-lighter-grey;
        }
        overflow-x:scroll;
    }


    &[role="columnheader"] {
        background-color: $color-white;
    }
}
